.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media screen and (min-width: var(--mobile)) {
    max-width: var(--mobile);
    // margin: 0 auto;
  }

  @media screen and (min-width: var(--tablet)) {
    max-width: var(--tablet);
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: var(--desktop)) {
    max-width: var(--desktop);
    padding-left: 115px;
    padding-right: 115px;
  }
}