:root {
  --main-font: "DM Sans", sans-serif;
  --title-font: 'Titan One', cursive;
  --title-color: #d41443;
  --label-color: #ffa5ba;
  --primary-text-color: #000000;
  --inversion-text-color: #ffffff;
  --secondary-text-color: #907e82;
  --btn-primary-color: #ffffff;
  --btn-accent-color: #ecebeb;
  --btn-secondary-color: #d41443;
  --bg-primary-color: #fff5f6;
  --bg-secondary-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}