<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.min.css">
</head>
<body>
    <!-- Секция называется "Наши контакты" -->
    <section class="section">
        <div class="container">
            <h2 class="visually-hidden">"Our contacts"</h2>
            <ul class="list">

                <li class="contacts__item">                
                    <span>CAFE</span>
                    <div>
                        <h3>Chicago</h3>
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div>
                        <div>
                            <h3>Monday - Friday</h3>
                            <p>06:00 AM - 10:00 PM</p>
                        </div>
                        <div>
                            <h3>Saturday - Sunday</h3>
                            <p>08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <div>
                        <a href="tel:+61(0) 383 766 284" class="link">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a>
                    </div>                
                </li>

                <li>
                    <span>CAFE</span>
                        <div>
                            <h3>Chicago</h3>
                            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </div>
                        <div>
                            <div>
                                <h3>Monday - Friday</h3>
                                <p>06:00 AM - 10:00 PM</p>
                            </div>
                            <div>
                                <h3>Saturday - Sunday</h3>
                                <p>08:00 AM - 16:00 PM</p>
                            </div>
                        </div>
                        <div>
                            <a href="tel:+61(0) 383 766 284" class="link">+61(0) 383 766 284</a>
                            <a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a>
                        </div>            
                </li>
                
                <li>
                    <span>CAFE</span>
                    <div>
                        <h3>Chicago</h3>
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div>
                        <div>
                            <h3>Monday - Friday</h3>
                            <p>06:00 AM - 10:00 PM</p>
                        </div>
                        <div>
                            <h3>Saturday - Sunday</h3>
                            <p>08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <div>
                        <a href="tel:+61(0) 383 766 284" class="link">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a>
                    </div>            
                </li>
        </ul>
    </div>
    </section>
</body>
</html>