<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Секция называется "Наши филиалы" -->
    <section>
        <h2 class="visually-hidden">"Our subsidiaryes"</h2>
        <ul>
            <li>
                <div>
                    <span>CAFE</span>
                    <div>
                        <h3></h3>
                        <p></p>
                    </div>
                    <div>
                        <div>
                            <h3></h3>
                            <p></p>
                        </div>
                        <div>
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                    <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
            <li></li>
            <li></li>
        </ul>
    </section>
</body>
</html>