<header class="header">
  <div class="container header__container">
    <a class="logo" href="/index.html">
      <img src="/images/logo@1x.png" alt="logo" />
    </a>
    <nav class="page-header__nav">
      <ul class="page-header__menu list">
        <li class="page-header__item"><a class="link" href="#">Home</a></li>
        <li class="page-header__item"><a class="link" href="#">About us</a></li>
        <<<<<<< HEAD
        <li class="page-header__item"><a class="link" href="#">How it’s made?</a></li>
        <li class="page-header__item"><a class="link" href="#">Our products</a></li>
        <li class="page-header__item"><a class="link" href="#">Contact</a></li>
        =======
        <li class="page-header__item"><a class="link" href="#about">How it’s made?</a></li>
        <li class="page-header__item"><a class="link" href="#products">Our products</a></li>
        <li class="page-header__item"><a class="link" href="#contacts">Contact</a></li>
        >>>>>>> main
      </ul>
    </nav>
    <button class="header__burger" data-menu-button>
      <svg class="header__icon" width="20px" height="12px">
        <use
          class="header__icon-open"
          href="/images/symbol-defs.svg#icon-burger"
          data-modal-open
        ></use>
      </svg>
    </button>
    <button class="header__btn" type="button">
      Buy now
      <svg class="header__svg" width="10px" height="10px">
        <<<<<<< HEAD
        <use href="/images/symbol-defs.svg#icon-vector"></use>
        =======
        <use href="/images/symbol-defs.svg#icon-vector-w"></use>
        >>>>>>> main
      </svg>
    </button>
  </div>
</header>
<div class="mobile-menu absolute" data-menu>
  <div class="container">
    <button class="header__burger" data-menu-button>
      <svg class="header__icon" width="20px" height="12px">
        <use
          class="header__icon-close"
          href="/images/symbol-defs.svg#icon-close"
          data-modal-close
        ></use>
      </svg>
    </button>
    <button class="mobile-menu__btn" type="button">
      Buy now
      <svg class="mobile-menu__icon" width="10px" height="10px">
        <use href="/images/symbol-defs.svg#icon-vector"></use>
      </svg>
    </button>
    <ul class="mobile-menu__list list">
      <li class="mobile-menu__item"><a class="link" href="#">Home</a></li>
      <li class="mobile-menu__item"><a class="link" href="#">About us</a></li>

      <li class="mobile-menu__item"><a class="link" href="#about">How it’s made?</a></li>
      <li class="mobile-menu__item"><a class="link" href="#products">Our products</a></li>
      <li class="mobile-menu__item"><a class="link" href="#contacts">Contact</a></li>
    </ul>
  </div>
</div>
