<section class="hero">
  <div class="container hero__container">
    <div class="hero__flexbox hero__flexbox--space-between">
      <div class="hero__flexbox-left">
        <h1 class="hero__title">
          ice cream made with
          <span class="hero__title--alt">passion</span>
        </h1>
        <ul class="list hero__list">
          <!-- btn hero__btn hero__btn--primary -->
          <!-- btn hero__btn hero__btn--secondary  -->
          <li class="hero__item">
              <a class="hero__btn--primary link" href="#products">Products</a>
          </li>
          <li class="hero__item">
              <a class="hero__btn--secondary link" href="#about">How it’s made?</a>
          </li>
        </ul>
      </div>
      <div class="hero__flexbox-right">
        <ul class="list hero__list hero__flexbox--column">
          <li class="hero__number">16</li>
          <li class="hero__location">cafes</li>
        </ul>
        <ul class="list hero__list hero__flexbox--column">
          <li class="hero__number">23</li>
          <li class="hero__location">food trucks</li>
        </ul>
      </div>
    </div>
    <div class="hero__desc">
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="hero__arrow">
        <svg class="hero__icon">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
