<section class="hero">
    <div class="container hero__container">
        <div class="hero__flexbox">
            <div class="hero__flexbox-left">
                <h1 class="hero__title">ice cream made with
                    <span class="hero__title--alt">passion</span>
                </h1>
                <ul class="list hero__list">
                    <li class="hero__item">
                        <button class="hero__btn hero__btn--primary" type="button">Products</button>
                    </li>
                    <li class="hero__item">
                        <button class="hero__btn hero__btn--secondary" type="button">How it’s made?</button>
                    </li>
                </ul>
            </div>
            <div class="hero__flexbox-right">
                <ul class="list hero__list">
                    <li>16</li>
                    <li>cafes</li>
                </ul>
                <ul class="list hero__list">
                    <li>23</li>
                    <li>food trucks</li>
                </ul>
            </div>
        </div>
    </div>
</section>