<section class="products">
<div class="container">
<p class="title-label">100% natural</p>
<h2 class="title">products</h2>
<ul class="list products__list" >
    <li class="products__item" >
        <h3 class="products__title">ice cream</h3>
        <p class="products__description" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </li>
    <li class="products__item">
        <h3 class="products__title">ice coffee</h3>
        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </li>
    <li class="products__item">
        <h3 class="products__title">milkshakes</h3>
        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </li>
</ul>
</div>
</section>