<section class="products">
  <div class="container">
    <p class="title-label">100% natural</p>
    <h2 class="title">products</h2>
    <ul class="list products__list">
      <li class="products__item products__item--pink">
        <picture>
          <source
            srcset="
              ./images/desktop/products/product1-desk@1x.png 1x,
              ./images/desktop/products/product1-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/products/product1-tab@1x.png 1x,
              ./images/tablet/products/product1-tab@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/products/product1-mob@1x.png 1x,
              ./images/mobile/products/product1-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            class="products__img"
            src="./images/mobile/products/product1-mob@1x.png"
            alt="Photo ice-cream"
            width="249"
            height="252"
          />
        </picture>
        <h3 class="products__title">ice cream</h3>
          <span class="products_point"></span>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
          aliqua facilisis.
        </p>
        <button class="products__btn">
          <svg class="products__icon" width="25" height="25">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--crema">
        <picture>
          <source
            srcset="
              ./images/desktop/products/product2-desk@1x.png 1x,
              ./images/desktop/products/product2-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/products/product2-tab@1x.png 1x,
              ./images/tablet/products/product2-tab@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/products/product2-mob@1x.png 1x,
              ./images/mobile/products/product2-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            class="products__img"
            src="./images/mobile/products/product2-mob@1x.png"
            alt="Photo ice-cream"
            width="249"
            height="252"
          />
        </picture>
        <h3 class="products__title">ice coffee</h3>
          <span class="products_point"></span>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
          aliqua facilisis.
        </p>
        <button class="products__btn">
          <svg class="products__icon" width="25" height="25">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--green">
        <picture>
          <source
            srcset="
              ./images/desktop/products/product3-desk@1x.png 1x,
              ./images/desktop/products/product3-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/products/product3-tab@1x.png 1x,
              ./images/tablet/products/product3-tab@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/products/product3-mob@1x.png 1x,
              ./images/mobile/products/product3-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            class="products__img"
            src="./images/mobile/products/product3-mob@1x.png"
            alt="Photo ice-cream"
            width="249"
            height="252"
          />
        </picture>
        <h3 class="products__title">milkshakes</h3>
          <span class="products_point"></span>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
          aliqua facilisis.
        </p>
        <button class="products__btn">
          <svg class="products__icon" width="25" height="25">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
