<section class="reviews">
  <div class="reviews__container container">
    <h2 class="visually-hidden">reviews</h2>
    <img class="reviews__photo"
      srcset="./images/testimonials/testimonials1@1x.png 1x, ./images/testimonials/testimonials1@2x.png 2x"
      src="./images/testimonials/testimonials1@1x.png" width="85" height="85"
      alt="фото клиента"
    />        
    <div class="reviews__thumb">
      <svg class="reviews__icon-quotes" width="54" height="40">
        <use 
          href="./images/icons.svg#icon-quotes">
        </use>
      </svg>
      <div class="reviews__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, excepturi quisquam. Ducimus nam ipsum dolor sit amet consectetur adipisicing elit. Inventore, excepturi quisquam. Ducimus nam 
          magnam ut porro sit velit commodi? Aperiam delectus corporis nesciunt illum facilis excepturi quasi voluptas mollitia sit.</p>
      </div>
    </div>
    <div class="reviews__points">
      </div>
      <p class="reviews__name">
        Emily, Los Angeles
      </p>

      <ul class="reviews__list list">
        <li class="reviews__item">
          <button class="reviews__btn" type="button">
            <svg class="reviews__btn-icon" width="12" height="12">
              <use 
                href="./images/icons.svg#icon-home"> 
              </use>
            </svg>
          </button>
        </li>
        <li class="reviews__item">
          <button class="reviews__btn" type="button">
            <svg class="reviews__btn-icon" class="d" width="12" height="12" fill="#D9D9D9">
              <use 
                href="./images/icons.svg#icon-ellipse"> 
              </use>
            </svg>
          </button>
        <li class="reviews__item">
          <button class="reviews__btn" type="button">
            <svg class="reviews__btn-icon" width="12" height="12" fill="#D9D9D9">
              <use 
                href="./images/icons.svg#icon-ellipse"> 
              </use>
            </svg>
          </button>
        </li>
      </ul>
  </div>
</section>
