.about {
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-primary-color);
}

.box {
  @media screen and (min-width: 1280px) {
    // width: 1282px;
    // height: 528px;
    background-image: url('./../images/desktop/made/made-milk-bg-desk@1x.png');
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .box {
        background-image: url('./../images/desktop/made/made-milk-bg-desk@2x.png');
        background-repeat: no-repeat;
      }
    }
  }
}

.advantages {
  width: 100%;
  //   margin: 0 auto;
  background-color: var(--bg-primary-color);
}

.about__title {
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 102px;
  }
}

.about__label {
  margin-bottom: 15px;
}

.about__text {
  margin-bottom: 47px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: var(--primary-text-color);
}

.about__text--bottom {
  margin-bottom: 47px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
  }
}

.box {
  padding-bottom: 39px;

  @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 66px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 39px;
  }
}

.box__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 17px) / 2);
  }

  @media screen and (min-width: 1280x) {
    flex-basis: calc((100% - 74px) / 2);
  }
}

.about__btn {
  padding-left: 37px;
  padding-right: 17px;
  height: 44px;
}
.advantages__list {
  @media screen and (min-width: 768px) {
    margin-top: -60px;
    margin-left: -60px;
    display: flex;
  }
}

.advantages__item {
  @media screen and (min-width: 768px) {
    margin-top: 60px;
    margin-left: 60px;
    flex-basis: calc((100% - (2 * 60px) / 3));
  }
}

.advantages__figures {
  display: block;
  //   width: 98px;
  margin-bottom: 15px;
  font-family: var(--title-font);
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--title-color);
}

.advantages__figures--bucket::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-bottom: 16px;
  background-image: url('./../images/made-icons/icon1@1x.png');
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

// попробовать сделать переменную  или микси на одинаковые  стили иконок
.advantages__figures--apples::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-bottom: 16px;
  background-image: url('./../images/made-icons/icon2@1x.png');
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__figures--heart::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  background-image: url('./../images/made-icons/icon3@1x.png');
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__text {
  margin-right: 70px;
  margin-bottom: 38px;

  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;

  color: var(--primary-text-color);
}
