.about {
  background-color: var(--bg-primary-color);
}

.advantages {
  background-color: var(--bg-primary-color);
}
.about__label {
  font-family: Titan One;

  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: var(--label-color);
}
