.contacts {
    background-image: linear-gradient(var(--bg-secondary-color) 100px, var(--bg-primary-color) 100px);
    @media screen and (min-width: 1280px) {
        padding-bottom: 84px;
        background-image: url(../images/desktop/shops/shops-bg-desk@1x.png),
        linear-gradient(var(--bg-secondary-color) 100px, var(--bg-primary-color) 100px);
        background-repeat: no-repeat;
        background-position-y: 20%;
        background-size: 100vw auto;
    }
}

.contacts__list {
    display: block;
    width: 100%;  
    margin-right: auto; 
    @media screen and(min-width: 768px) {
       display: flex;
       width: 100%;          
    }     
}

.contacts__item{
    width: 100%;
    height: 427px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 43px;
    padding-left: 20px;
    background-color: var(--bg-secondary-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    &:last-child{
        margin-bottom: 0;
    }
    
    @media screen and(min-width: 320px) and(max-width:767.98px) {
        width: 220px;
    }
    
    @media screen and(min-width: 768px) and(max-width:1279.98px) {
        flex-basis: calc((100% - 20px * 2) / 3);
        padding-top: 50px;        
        height: 544px;
    }
    @media screen and(min-width: 1280px) {
        flex-basis: calc((100% - 30px * 2) / 3);
        height: 572px;
        padding: 51px 40px 61px 43px;
        
        
    }
}


.contacts__place{
    display: flex;
    width: 80px;
    height: 12px;
    padding: 5px 10px;
    background: var(--contacts__place-color);
    border-radius: 4px;     
    font-size: 12px;
    line-height: 1.86;    
    align-items: center;
    justify-content: center;    
    color: var(--inversion-text-color);
    @media screen and(min-width: 768px)  {
        font-weight: 500;
        font-size: 16px;
        width: 73px;
        height: 28px;   
    }
}

.contacts__place-foodtruk{
    display: flex;
    width: 138px;
    height: 16px;
    padding: 10px 10px;
    background: var(--contacts__place-foodtruk-color);
    border-radius: 4px;     
    font-size: 16px;
    line-height: 1.86;    
    align-items: center;
    justify-content: center;    
    color: var(--inversion-text-color);
    @media screen and(min-width: 768px)  {
        font-weight: 500;
        font-size: 16px;
        width: 138px;
        height: 28px;   
    }
}

.contacts__file{
    margin-top: 25px;
    margin-bottom: 25px;
    &::after{
        content: "";
        display: block;
        width: 179px;
        height: 1px;
        background-color: var(--befor__after-color);
        margin-top: 25px;
    } 
        
}

.worktime{
        @media screen and(min-width: 768px) and(max-width:1279px) {
        margin-top: 30px;
        margin-bottom: 30px;
        }
        @media screen and(min-width: 1280px){
            margin-top: 32px;
            margin-bottom: 64px;
            }
    }
.contacts__worktime{
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0px;
    }  
}

.contacts__title{
    font-size: 12px;
    line-height: 1.86;    
    color: var(--primary-text-color);
    padding-bottom: 10px;
    @media screen and(min-width: 768px)  {
        font-weight: 500;
        font-size: 16px;
           
    }
    
}

.contacts__title--day{
    font-size: 12px;
    line-height: 1.86;    
    color: var(--primary-text-color);
    @media screen and(min-width: 768px)  {
        font-weight: 500;
        font-size: 16px;
           
    }
}

.contacts__page{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: var(--secondary-text-color);
    @media screen and(min-width: 768px)  {
        font-weight: 500;
        font-size: 16px;
           
    }
}

.contacts__page--time{
    color: var(--label-color);
    @media screen and(min-width: 768px)  {
        font-weight: 500;
        font-size: 16px;
           
    }
}

.contacts__link{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.5;     
    color: var(--secondary-text-color);
    &::before{
        content: "";
        display: block;
        width: 179px;
        height: 1px;
        background-color: var(--befor__after-color);
        margin-bottom: 25px;
        margin-top: 25px;
        @media screen and(min-width: 768px)  {
            margin-top: 0px;           
        }
    }
}

.link__tel{
    @media screen and(min-width: 768px)  {
        font-weight: 500;
        font-size: 16px;           
    }
}

.link__mail{
    @media screen and(min-width: 768px)  {
        font-weight: 500;
        font-size: 16px;           
    }
}


.contacts__button{
    margin-top: 54px;    
    margin-left: auto;
    margin-right: auto;
    @media screen and(min-width:768px) {
        display: flex;
        padding-bottom: 165px;

    }
    @media screen and(min-width:320px) and(max-width:767px) {
        
        padding-bottom: 113px;

    }

}
.contacts__btn--locations{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 161px;
    height: 44px;
    background-color: var(--contacts__btn--locations-color);
    border-radius: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--inversion-text-color);
    border: none;    
    @media screen and(min-width:320px) and(max-width:767px) {
        margin-left: auto;
        width: 198px;
    }

    @media screen and(min-width:768px) and(max-width:1279.98px) {
        
        margin-right: 10px;
        width: 192px;
    }
    @media screen and(min-width:1280px) {
        margin-right: 15px;
        margin-left: 330px;
        width: 198px;
    }
    
    
}

.contacts__btn--franchise{
    
    margin-right: auto;
    width: 161px;
    height: 44px;
    background-color: var(--bg-secondary-color);
    border-radius: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-secondary-color);
    border: none;  
    @media screen and(min-width:768px) and(max-width:1279.98px) {
        
        
        width: 192px;
    }
    @media screen and(min-width:1280px) {
        margin-right: 15px;
        width: 198px;
    }
    @media screen and(min-width:320px) and(max-width:767px) {
        margin-left: auto;
        width: 198px;
    }
    
}

.contacts__locations{
    
    margin-left: 15px;
}

