.footer {
  padding-bottom: 25px;
  background-color: var(--bg-primary-color);
  background-image: linear-gradient(
    var(--bg-primary-color) 310px,
    var(--befor__after-color) 311px,
    var (--befor__after-color) 312px,
    var(--bg-primary-color) 60px
  );

  @media screen and (min-width: 768px) {
    background-color: var(--bg-primary-color);
    background-image: linear-gradient(
      var(--bg-primary-color) 291px,
      var(--befor__after-color) 291px,
      var(--befor__after-color) 292px,
      var(--bg-primary-color) 62px
    );
  }

  @media screen and (min-width: 1200px) {
    background-color: var(--bg-primary-color);
    background-image: linear-gradient(
      var(--bg-primary-color) 201px,
      var(--befor__after-color) 201px,
      var(--befor__after-color) 202px,
      var(--bg-primary-color) 55px
    );
  }
}

.box-position {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    max-height: 183px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 120px;
  }

  @media screen and (min-width: 1200px) {
    max-height: 170px;
    margin-bottom: 50px;
  }
}

.footer-box {
  max-width: 234px;
  max-height: 135px;

  @media screen and (max-width: 767px) {
    margin-bottom: 45px;
  }

  @media screen and (min-width: 768px) {
    max-width: 340px;
    max-height: 183px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 474px;
    max-height: 115px;
  }
}

.footer__title-label {
  text-align: left;
  margin-bottom: 15px;
  font-family: var(--title-font);
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--label-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer__title {
  letter-spacing: 0.04em;
}

.footer__social-link {
  margin-bottom: 45px;
}

.footer__icons {
  display: flex;
  justify-content: flex-end;
}

.footer-icons__item:not(:last-child) {
  margin-right: 28px;
}

.footer-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--label-color);
  cursor: pointer;

  background-color: var(--bg-secondary-color);
  transition: background-color var(--timing-function) var(--duration);
}

.footer-icons__link:hover .footer-icons__svg,
.footer-icons__link:focus .footer-icons__svg {
  fill: var(--btn-secondary-color);
}

.footer-icons__svg {
  fill: #FEA5BB;
}

.footer__connect {
  display: flex;
  justify-content: flex-end;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: var(--primary-text-color);
  cursor: pointer;

  margin-bottom: 65px;
}

.footer__connect--color {
  color: var(--title-color);
}

.footer__rights {
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondary-text-color);

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
  }
}
