.header {
  width: 100vw;
  background-color: #ffb8ca;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 37px;
    // padding-top: 37px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
}

.logo {
  z-index: 10;
}

.page-header__nav {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
    z-index: 12;
  }
}

.page-header__menu {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;
  color: var(--inversion-text-color);
}

.page-header__item:hover,
.page-header__item:focus {
  color: var(--title-color);
}

.page-header__item:not(:last-child) {
  margin-right: 35px;
}

.menu__item--color {
  color: var(--title-color);
}

.header__burger {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 13;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.is-open .header__icon {
  z-index: 11;
  position: fixed;
  right: 28px;
  top: 22px;

  @media screen and (min-width: 768px) {
    right: 34px;
    top: 22px;
  }
}

.is-open .header__icon-open {
  display: none;
}

.header__icon-close {
  display: none;

  .is-open & {
    display: block;
  }
}

.header__btn {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 160px;
  height: 44px;
  border: none;
  cursor: pointer;
  z-index: 10;

  &:hover,
  &:focus {
    background-color: var(--btn-accent-color);
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__svg {
  margin-left: 25px;
}
