.products {
  padding-top: 120px;
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    padding-bottom: 110px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 120px;
  }
}

.products__list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.products__item {
  position: relative;

  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 145px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 160px;
  padding-bottom: 40px;

  border-radius: 24px;

  @media screen and (min-width: 320px) and (max-width: 767.99px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 20px * 2) / 3);
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 30px * 2) / 2);

    margin-top: 260px;
    padding-top: 160px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 50px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.products__item--pink {
  background-color: #ffb8ca;
}

.products__item--crema {
  background-color: #f0d1a5;
}

.products__item--green {
  background-color: #c2e297;
}

.products__img {
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 768px) {
    top: -102px;
    width: 220px;
    height: 224px;
  }

  @media screen and (min-width: 1280px) {
    top: -215px;
    width: 330px;
    height: 330px;
  }
}

.products__title {
  margin-bottom: 30px;

  font-family: var(--title-font);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--inversion-text-color);

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;

    font-size: 30px;
    line-height: 1.13;
  }
}

.products_point {
  position: relative;
  display: flex;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: var(--bg-secondary-color);

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.products_point::after {
  position: absolute;
  content: '';
  display: flex;
  left: 10px;

  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: var(--bg-secondary-color);
}

.products_point::before {
  position: absolute;
  content: '';
  display: flex;
  right: 10px;

  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: var(--bg-secondary-color);
}

.products__description {
  margin-bottom: 30px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--inversion-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;

    font-size: 16px;
    line-height: 1.75;
  }
}

@media screen and (min-width: 768px) {
  .part-text {
    display: none;
  }
}

.products__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-secondary-color);

  transition: background-color var(--timing-function) var(--duration);
  &:hover,
  &:focus {
    background-color: var(--btn-secondary-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.products__icon {
  fill: var(--btn-secondary-color);
}

.products__btn:hover .products__icon {
  fill: var(--bg-secondary-color);
}
