.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: 768px) {
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.products__item {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  min-height: 485px;

  margin-top: 145px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 160px;
  border-radius: 24px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: 320px) and (max-width: 767.99px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 20px * 2) / 3);
    padding-top: 152px;

    &:not(:last-child) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 2) / 2);
    padding-top: 163px;
    padding-left: 44px;
    padding-right: 44px;
    height: 525px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.products__item--pink {
  background-color: #ffb8ca;
}

.products__item--crema {
  background-color: #f0d1a5;
}

.products__item--green {
  background-color: #c2e297;
}

.products__img {
  position: absolute;
  top: -115px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 768px) {
    top: -102px;
  }

  @media screen and (min-width: 1200px) {
    top: -155px;
  }
}

.products__title {
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 29.5px;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--inversion-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products_point {
  display: flex;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--bg-secondary-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.products_point::after {
  content: '';

  position: absolute;

  left: 128px;

  display: flex;

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--bg-secondary-color);

  @media screen and (min-width: 768px) {
    left: 98px;
  }

  @media screen and (min-width: 1200px) {
    left: 139px;
  }
}

.products_point::before {
  content: '';

  position: absolute;
  right: 128px;
  display: flex;

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--bg-secondary-color);

  @media screen and (min-width: 768px) {
    right: 98px;
  }

  @media screen and (min-width: 1200px) {
    right: 139px;
  }
}

.products__description {
  margin-bottom: 30px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--inversion-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 62px;

    font-size: 16px;
    line-height: 1.75;
  }
}

@media screen and (min-width: 768px) {
  .part-text {
    display: none;
  }
}

.products__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-secondary-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  transition: background-color var(--timing-function) var(--duration);

  &:hover,
  &:focus {
    background-color: var(--btn-secondary-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.products__icon {
  fill: var(--btn-secondary-color);
}

.products__btn:hover .products__icon {
  fill: var(--bg-secondary-color);
}
